*{
    padding: 0%;
     margin: 0%;
     /*box-sizing: border-box;*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/*aca inicia el encabezado*/

header {
    position: relative;
    background-color: #3C4763;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 20px;
}
 
.logo a{
    text-decoration: none;
}
 
.logo a img{
    width: 180px;
    padding: 5px;
}

.navegacion {
    position: relative;
    width: 70%;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscar {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.buscar input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    text-indent: 10px;
    font-size: 15px;
}

.buscar span{
    position: relative;
    left: -30px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    z-index: 221;
  }

ul {
    width: 30%;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-left: 4px;
    padding: 5px;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    
} 
ul li span {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

#carrito{
    color: #ec9a1f;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#menu{
    display: none;
}


/*Aca inicia el formulario*/

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 80vh;*/
    margin-top: 100px;
}

.contenedor {
    width: 400px;
    margin: auto;
    height: 250px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.datos {
    position: relative;
    margin-bottom: 20px;
}

.datos i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999999;
}

.datos input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 40px;
    font-size: 16px;
}

.boton {
    width: 40%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 25px;
}


@media (max-width: 768px) {

    header{
        width: 100%;
    }

    .navegacion {
      position: relative;
      display: block;
      width: 50%;
      top: 20px;
      display: none;
    }

    .navegacion.navegacionactive {
        display: inline;
    }

    .buscar {
        position: relative;
        width: 100%;
        top: 50px;
        z-index: 221;
        left: 5%;
      }

    #menu{
        display: inline;
        position: absolute;
        font-size: 25px;
        margin-left: 88%;
        z-index: 222;
        float: right;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid rgb(221, 221, 221);
      }

    .navegacion ul {
        position: absolute;
        width: 100%;
        height: 32vh;
        background-color: #3C4763;
      }

      .navegacion ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 50px;
        padding: 2%;
      }

       ul li span {
        display: inline-block;
        font-size: 20px;
      }

      ul a:hover {
        background: rgb(35, 36, 51);
      }


}