* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*aca inicia el encabezado*/

header {
    position: relative;
    background-color: #3C4763;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 20px;
}
 
.logo a{
    text-decoration: none;
}
 
.logo a img{
    width: 180px;
    padding: 5px;
}

.navegacion {
    position: relative;
    width: 70%;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscar {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.buscar input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    text-indent: 10px;
    font-size: 15px;
}

.buscar span{
    position: relative;
    left: -30px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    z-index: 221;
  }

ul {
    width: 30%;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-left: 4px;
    padding: 5px;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    
} 
ul li span {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

#carrito{
    color: #ec9a1f;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#menu{
    display: none;
}

/* Contenido principal */
main {
    margin: 16px;
    width: 100%;
}

/* Sección de productos */
section {
    margin: 10px;
    padding: 20px; 
    text-align: left;
}

.titulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.titulos h2 {
    font-size: 24px;
}

.producto {
    display: inline-block;
    text-align: center;
    margin-right: 16px;
    margin-bottom: 16px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 16px;
    width: 250px;
}


.producto img {
    max-width: 100%;
}

.producto h3 {
    font-size: 19px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.producto p {
    margin-bottom: 16px;
}

.producto .precio{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 16px;
}

.producto button {
    background-color: #003A6C;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


/*aca inicia el pie de pagina*/

/*aca inicia el pie de pagina*/

footer{
    background-color: #3C4763;
    width: 100%;
    height: 100%; 

}

.grupo1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 25px 20px; 
}

.logo-pie a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.logo-pie img{
    display: flex;
    width: 180px;
    padding: 5px;
}

.comunicacion h2{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

.comunicacion p{
    font-size: 15px;
    color: #ffffff;
    margin: 10px;
}

.comunicacion span{
    font-size: 20px;
    color: #00a868
}

.comunicacion a{
    text-decoration: none;
    display: inline-block;
    color: #00a868;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    font-size: 25px;
}

.grupo2{
    text-align: center;
    color: #ffffff;
}


@media (max-width: 768px) {

    .navegacion {
      position: relative;
      display: block;
      width: 50%;
      top: 20px;
      display: none;
    }

    .navegacion.navegacionactive {
        display: inline;
    }

    .buscar {
        position: relative;
        width: 100%;
        top: 50px;
        z-index: 221;
        left: 5%;
    }

    #menu{
        display: inline;
        position: absolute;
        font-size: 25px;
        margin-left: 88%;
        z-index: 222;
        float: right;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid rgb(221, 221, 221);
    }

    .navegacion ul {
        position: absolute;
        width: 100%;
        height: 200px;
        background-color: #3C4763;
    }

    .navegacion ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 50px;
        padding: 2%;
    }

    ul li span {
        display: inline-block;
        font-size: 20px;
    }

    .producto {
        display: inline-block;
        margin: 10px;
        margin-bottom: 20px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 16px;
        width: 100px;
       
    }

    .producto h3 {
        font-size: 15px;
        margin-top: 3.5px;
        margin-bottom: 3.5px;
    }
    
    .producto p {
        font-size: 13px;
        margin-bottom: 16px;
    }

    .producto .precio{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    
    .producto button {
        background-color: #003A6C;
        color: white;
        border: none;
        padding: 2px;
        font-size: 15px;
        cursor: pointer;
        border-radius: 5px;
    }

    .grupo1{
        display: block;
        text-align: center;
        margin: 5px;
        padding: 10px;

    }

    .logo-pie{
        display: inline-flex;
        margin-bottom: 15px;
    }

    .comunicacion{
        margin-bottom: 15px;
    }

}