*{
    margin: 0;
    box-sizing: inherit

}

/* aca inicia el encabezado*/

.encabezado{
    background-color: #3C4763;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin-left: 20px;
}

.logo a{
    text-decoration: none;
}

.logo a img{
    width: 180px;
    padding: 5px;
}

.buscar{
    display: flex;
    width: 40%;
    justify-content: center;

}

.buscar input{
    width: 100%;
    height: 35px;
    padding: 0 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 12px;
    align-items: center; 
}

.lupa{
    position: relative;
    text-align: center;
    background-color: gray;
    height: 0;
    top: 12px;
    right: 30px;
    cursor: pointer;
}


ul{
    display: flex;
    margin-right: 30px;
    align-items: center;
}


ul li {
    display: inline-flex;
    margin: 20px;  
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.usuario{
    color: #ffffff;
    font-size: 20px;
    margin-right: 5px;

}

.carrito{
    color: #ec9a1f;
    font-size: 25px;
    margin-right: 5px;
}


/* Contenido principal */
main {
    width: 100%;
    display: flex;
    
}

/* Sección de productos */
section {
    margin: 10px;
    padding: 20px; 
    text-align: center;
}

.titulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.titulos h2 {
    font-size: 24px;
    margin-left: 35px;
}

.titulos a {
    text-decoration: none;
    background-color: #3C4763;
    color: #ffffff;
    font-size: 20px;
    margin-right: 35px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

.producto {
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    width: 300px;
   
}

.producto img {
    max-width: 100%;
}

.producto h3 {
    font-size: 19px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.producto p {
    margin-bottom: 16px;
}

/*aca inicia el pie de pagina*/

.pie-pagina{
    background-color: #3C4763;
    width: 100%;
    height: 100%; 

}

.grupo1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 25px 20px; 
}

.logo-pie a{
    text-decoration: none;
    color: black;
    font-size: 20px;

   
}

.logo-pie img{
    display: flex;
    width: 180px;
    padding: 5px;
}

.comunicacion h2{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
}

.comunicacion p{
    font-size: 15px;
    color: #ffffff;
    margin: 10px;
}

.comunicacion i{
    font-size: 20px;
    color: #c2c2c2
}

.comunicacion a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    width: 45px;
    height: 45px;
    margin-right: 5px;
    font-size: 25px;
}

.pie-pagina .grupo2{
    text-align: center;
    color: #ffffff;
}










