*{
    margin: 0;
    /*box-sizing: inherit;*/
    box-sizing: border-box;
}

/* aca inicia el encabezado*/

.encabezado{
    background-color: #3C4763;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    margin-left: 20px;
}

.logo a{
    text-decoration: none;
}

.logo a img{
    display: flex;
    width: 180px;
    padding: 5px;
}

.buscar{
    display: flex;
    width: 40%;
    justify-content: center;

}

.buscar input{
    width: 100%;
    height: 35px;
    padding: 0 15px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 12px;
    align-items: center; 
}

.lupa{
    position: relative;
    text-align: center;
    background-color: gray;
    height: 0;
    top: 12px;
    right: 30px;
    cursor: pointer;
}

ul{
    display: flex;
    margin-right: 30px;
    align-items: center;
}


ul li {
    display: inline-flex;
    margin: 20px;  
}

ul li a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.usuario{
    color: #ffffff;
    font-size: 20px;
    margin-right: 5px;

}

.carrito{
    color: #ec9a1f;
    font-size: 25px;
    margin-right: 5px;
}

body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
}

/*Aca inicia el formulario*/

.contenedor-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.contenedor {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

.datos {
    position: relative;
    margin-bottom: 20px;
}

.datos i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #999999;
}

.datos input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 40px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 25px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

@media (width: 600px) {
    .container {
      width: 300px;
    }
}