* {
    padding: 0%;
    margin: 0%;
}

header {
    position: relative;
    background-color: #3C4763;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin: 20px;
}
 
.logo a{
    text-decoration: none;
}
 
.logo a img{
    width: 180px;
    padding: 5px;
}

.navegacion {
    position: relative;
    width: 70%;
    padding: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buscar {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.buscar input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    text-indent: 10px;
    font-size: 15px;
}

.buscar span{
    position: relative;
    left: -30px;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    z-index: 221;
  }

ul {
    width: 30%;
    text-align: center;
}

ul li {
    display: inline-block;
    margin-left: 4px;
    padding: 5px;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    
} 
ul li span {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

#carrito{
    color: #ec9a1f;
}

ul li a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}



#menu{
    display: none;
}

/* Contenido principal */
main {
    width: 100%;
    display: flex; 
}

/* Sección de productos */
section {
    margin: 10px;
    padding: 20px; 
    text-align: center;
}

.titulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.titulos h2 {
    font-size: 24px;
    margin-left: 35px;
}

.titulos a {
    text-decoration: none;
    background-color: #3C4763;
    color: #ffffff;
    font-size: 20px;
    margin-right: 35px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

.producto {
    display: inline-block;
    margin: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 16px;
    width: 300px;
   
}

.producto img {
    max-width: 100%;
}

.producto h3 {
    font-size: 19px;
    margin-top: 3.5px;
    margin-bottom: 3.5px;
}

.producto p {
    margin-bottom: 16px;
}


@media (max-width: 768px) {

    .navegacion {
      position: relative;
      display: block;
      width: 60%;
      display: none;
    }

    .navegacion.navegacionactive {
        display: inline;
    }

    .buscar {
        position: relative;
        width: 100%;
        top: 120px;
        z-index: 221;
        left: 5%;
      }

      .navegacion ul {
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #3C4763;
      }

      #menu{
        display: inline;
        position: absolute;
        font-size: 25px;
        margin-left: 88%;
        z-index: 222;
        float: right;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid rgb(221, 221, 221);
      }

      .navegacion ul li {
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 110px;
        padding: 2%;
      }

      ul li span {
        display: inline-block;
        font-size: 20px;
      }

      ul a:hover {
        background: rgb(35, 36, 51);
      }
  
}

   
      
      
  

